<?xml version="1.0"?>
<config>
  <modules>
    <Vinmage_Lastsold>
      <version>0.1.0</version>
    </Vinmage_Lastsold>
  </modules>
  <frontend>
    <routers>
      <lastsold>
        <use>standard</use>
          <args>
            <module>Vinmage_Lastsold</module>
            <frontName>lastsold</frontName>
          </args>
      </lastsold>
    </routers>
		<layout>
		  <updates>
			<lastsold>
			  <file>lastsold.xml</file>
			</lastsold>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <lastsold>
        <class>Vinmage_Lastsold_Helper</class>
      </lastsold>
    </helpers>
	<blocks>
	  <lastsold>
		<class>Vinmage_Lastsold_Block</class>
	  </lastsold>
	</blocks>
  </global>
</config> 