<?xml version="1.0"?>
<config>
    <modules>
        <Advanced_OrderSearch>
            <version>0.1.0</version>
        </Advanced_OrderSearch>
    </modules>
    <frontend>
        <routers>
            <ordersearch>
                <use>standard</use>
                <args>
                    <module>Advanced_OrderSearch</module>
                    <frontName>ordersearch</frontName>
                </args>
            </ordersearch>
        </routers>
        <layout>
            <updates>
                <ordersearch>
                    <file>ordersearch.xml</file>
                </ordersearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ordersearch>
				<use>admin</use>
				<args>
					<module>Advanced_OrderSearch</module>
					<frontName>ordersearch</frontName>
				</args>
			</ordersearch>
        </routers>
    </admin>
	<adminhtml>
	<acl>
		      <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <ordersearch module="ordersearch" translate="label">
                                            <title>Ordersearch Module</title>
                                            <sort_order>10</sort_order>
                                         </ordersearch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
          <!--  <resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Advanced_OrderSearch>
							<title>Ordersearch Module</title>
							<sort_order>100</sort_order>
						</Advanced_OrderSearch>
						<system>
                                        <children>
                                <config>
                                    <children>
                                       <ordersearch translate="title" module="ordersearch">
                                            <title>ordersearch Module</title>
                                        </ordersearch>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>  -->
		</acl>
		
	
  </adminhtml>		
    <global>
        <models>
        	<sales_mysql4>
        	 <rewrite>
        	 	<order_grid_collection>Advanced_OrderSearch_Model_Sales_Mysql4_Order_Grid_Collection</order_grid_collection>
        	 </rewrite>
        	</sales_mysql4>
            <ordersearch>
                <class>Advanced_OrderSearch_Model</class>
                <resourceModel>ordersearch_mysql4</resourceModel>
            </ordersearch>
            <ordersearch_mysql4>
                <class>Advanced_OrderSearch_Model_Mysql4</class>
                <!--<entities>
                    <ordersearch>
                        <table>salesgrid</table>
                    </ordersearch>
                </entities>-->
            </ordersearch_mysql4>
        </models>
        <resources>
            <ordersearch_setup>
                <setup>
                    <module>Advanced_OrderSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordersearch_setup>
            <ordersearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordersearch_write>
            <ordersearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordersearch_read>
        </resources>
        <blocks>
        	<adminhtml>
                <rewrite>
                    <sales_order_grid>Advanced_OrderSearch_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <ordersearch>
                <class>Advanced_OrderSearch_Block</class>
            </ordersearch>
        </blocks>
        <helpers>
            <ordersearch>
                <class>Advanced_OrderSearch_Helper</class>
            </ordersearch>
        </helpers>
    </global>
</config>